<nav style="background-color: #680148;" class="navbar navbar-dark">
    <a style="margin-left: 30px;" class="navbar-brand" href="/">
        FinanceBlog
    </a>

    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categorias</a>
        </li>
    </ul>
</nav>